<div class="row">
  <%= form_for(@new_user, url: user_session_path) do |f| -%>
    
    <div class="field register-field-container col-md-12">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "tracer@overwatch.com", class: "register-field form-control" %>
    </div>
    
    <div class="field register-field-container col-md-12">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off", class: "register-field form-control" %>
    </div>
    
    <div class="actions register-field-container col-md-12">
      <%= f.submit "Log in", class: "btn btn-success register-field pull-right" %>
    </div>
  <% end %>
      
  <div class="col-md-12">
    No account yet ? Try to <%= link_to "register", profile_path %> instead.
  </div>
</div>
