


<h1 class="page-title text-center">Profile</h1>

<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-heading text-center">
          <h2>Gongratulations, you have a registered account !</h2>
        </div>
        <div class="panel-body">
          Email: <%= @user.email %><br />
          Votes count : <%= @user.votes.count %><br />
          Tips count : <%= @user.tips.count %>

          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-danger pull-right" %>
        </div>
      </div>
    </div>
  <% else %>
  
    <div class="col-md-8 col-md-offset-2">
      <div class="panel">
        <div class="panel-heading text-center">
          <h2>Register your profile to claim your tips</h2>
        </div>
        
        <div class="panel-body">
          <%= render partial: "users/register_form" %>
        </div>
      </div>
    </div>
    
  <% end %>
</div>

<h2 class="page-title text-center">Your tips</h2>

<% if @tips.present? %>
    
    <p class="text-center">All the tips you created from the beginning of time !</p>
    
    <div class="row">
        <% @tips.each do |tip| %>
            <%= render partial: "tips/show", locals: { tip: tip, with_gaming_object_description: true } %>
        <% end %>
    </div>
    
<% else %>

    <p class="text-center">You didn't create any tip ! So, you're a 'vote only' person, mmh ?</p>
    
    <p class="text-center"><a href="<%= characters_path %>">Choose your favorite character</a> and create a tip right now !</p>

<% end %>