


<h1 class="page-title text-center">Profile</h1>

<p class="text-center">
    <% if user_signed_in? %>
        Gongratulations, you are registered and signed in !
    <% else %>
        <%= form_tag(register_path, method: :post) do -%>
          <%= devise_error_messages! %>
          <div class="field">
            <%= label_tag :email %><br />
            <%= email_field_tag :email, "", autofocus: true, placeholder: "tracer@overwatch.com" %>
          </div>
        
          <div class="field">
            <%= label_tag :password %><br />
            <%= password_field_tag :password, "", autocomplete: "off" %>
          </div>
        
          <div class="field">
            <%= label_tag :password_confirmation %><br />
            <%= password_field_tag :password_confirmation, "", autocomplete: "off" %>
          </div>
        
          <div class="actions">
            <%= submit_tag "Register", class: "btn btn-success" %>
          </div>
        <% end %>
    <% end -%>
</p>

<h2 class="page-title text-center">Your tips</h2>

<% if @tips.present? %>
    
    <p class="text-center">All the tips you created from the beginning of time !</p>
    
    <div class="row">
        <% @tips.each do |tip| %>
            <%= render partial: "tips/show", locals: { tip: tip, with_gaming_object_description: true } %>
        <% end %>
    </div>
    
<% else %>

    <p class="text-center">You didn't create any tip ! So, you're a 'vote only' person, mmh ?</p>
    
    <p class="text-center"><a href="<%= characters_path %>">Choose your favorite character</a> and create a tip right now !</p>

<% end %>