<div class="container">
    <div class="row">
        <div class="col-md-8 pull-right home-welcome">
            <h1 class="<%= @is_mobile ? "h1-home-mobile" : "h1-home" %>">WELCOME TO OVERWATCH - TIPS</h1>
        </div>
        <div class="col-md-8 col-xs-12 pull-right">
            <p class="<%= @is_mobile ? "h2-home-mobile" : "h2-home" %>">A platform to share advice about Overwatch</p>
        </div>
    </div>
</div>

<div class="standard-margin <%="home-container custom-jumbotron" if !@is_mobile %> ">
    <div class="container">

        <div class="text-center">
            <%= link_to "Pick a hero and write your tip", character_path(@random_character), class: "btn btn-lg btn-success home-primary-button" %>
        </div>
        
        <div class="row">
            <% @tips_hash.each do |category, tips| %>
                <div class="col-md-4">
                    <h2><%= link_to "#{category.to_s.humanize} tips", news_path(order: category) %></h2>
                    <% tips.each do |tip| %>
                        <div class="">
                            <%= render partial: "tips/show", locals: { tip: tip, with_gaming_object_description: true, klass: "" } %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading text-center dropdown-link what-is-it"><h3 style="margin-top: 1rem;"> <i class="fa fa-caret-right" aria-hidden="true"></i> This website, what is it ?</h3></div>
                    <div class="panel-body dropdown-content">
                        <p>
                            Overwatch-Tips is a platform for anyone who whants to write & read tips about that amazing game ... I bet you can see it coming ... Overwatch ! Oh you don't know Overwatch ? Well, <%= link_to "Check it out !", "https://playoverwatch.com", class: "" %>
                        </p>
                        <p>
                            Anyway, look at what you can do here :
                            <ul>
                                <li>Read tips</li>
                                <li>Vote for tips</li>
                                <li>Write tips</li>
                                <li>Watch your tips go all the way to the top!</li>
                            </ul>
                            Isn't that great ?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
