<div class="gaming_object_header">
  <span><%= image_tag @gaming_object.image_path %></span>
  <h1 style="display: inline-block"><%= @gaming_object.name %></h1>
</div>


<div class="row">
  <% @tips_hash.each do |category, category_tips| %>
    <div class="col-md-4">
      <h2>Playing <%= category %> <%= @gaming_object.name %></h2>
      <div class="row <%= category %>">
        <% category_tips.each do |tip| %>
          <%= render partial: "tips/show", locals: { tip: tip } %>
        <% end %>
      </div>
      <%= render partial: 'tips/form', locals: {category: category, gaming_object: @gaming_object} %>
    </div>
  <% end %>
</div>

<script>
  $(document).ready(function(){
    $('#form-against').on('ajax:success', function(e, data, status, xhr){
      $('.against').append(data);
    }).on('ajax:error',function(e, xhr, status, error){
    });
    $('#form-as').on('ajax:success', function(e, data, status, xhr){
      $('.as').append(data);
    }).on('ajax:error',function(e, xhr, status, error){
    });
    $('#form-with').on('ajax:success', function(e, data, status, xhr){
      $('.with').append(data);
    }).on('.'+data.category,function(e, xhr, status, error){
    });
  });
</script>