<div class="gaming_object_header">
  <span><%= image_tag @gaming_object.image_path %></span>
  <h1 style="display: inline-block"><%= @gaming_object.name %></h1>
</div>


<div class="row">
  <% @tips_hash.each do |category, category_tips| %>
    <div class="col-md-4">
      <h2>Playing <%= category %> <%= @gaming_object.name %></h2>
      <div class="row <%= category %>">
        <% category_tips.each do |tip| %>
          <%= render partial: "tips/show", locals: { tip: tip } %>
        <% end %>
      </div>
      <%= render partial: 'tips/form', locals: {category: category, gaming_object: @gaming_object} %>
    </div>
  <% end %>
</div>

<script>
  // on ready page:load à cause de turbolinks
  $(document).ready(function() {
    
    function clearError(category) {
      var errors = $('.error');
      for (var i = 0; i < errors.length; i++) {
        errors[i].parentNode.removeChild(errors[i]);
      }
      
      var hasError = $('.has-error');
      for (var i = 0; i < hasError.length; i++) {
        hasError[i].className="form-group";
      }
    }
    
    function appendTip(data, category) {
      clearError(category);
      $('.'+category).append(data);
      $('.form-'+category+'-description').val("");
    }
    
    
    function markError(errors, category) {
      clearError(category);
      for (var error in errors) {
        var parent = $('.form-'+category+'-'+error).parent();
        if (!parent.hasClass("has-error")) {
          parent.toggleClass('has-error');
        }
        for (var elem in errors[error]) {
          parent.append('<p class="error">'+errors[error][elem]+'</p>')
        }
      }
    }
    
    <% @tips_hash.keys.each do |category| %>
      $('#form-<%= category %>').on('ajax:success', function(e, data, status, xhr){
        appendTip(data, "<%= category %>");
      }).on('ajax:error',function(e, xhr, status, error){
        markError(xhr.responseJSON, '<%= category %>');
      });
    <% end %>
    

    function update_score(button, bonus){
      tip = button.closest('.tip_panel');
      score = tip.find('.tip_score');
      score.text(parseInt(score.text()) + bonus);
    }
    
    $('.upvote_tip').on('click', function() {
      update_score($(this), 1);
      event.preventDefault(); // Prevent link from following its href
    });
    
    $('.downvote_tip').on('click', function() {
      update_score($(this), -1);
      event.preventDefault(); // Prevent link from following its href
    });
    
  });
</script>