<%= form_for(@tip, remote: true, html: {role: :form, 'data-model' => 'tip', id: 'form-'+category.to_s}) do |f| %>
  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="form-group">
    <%= f.text_field :category, :value => category, class: 'hidden' %>
    <%= f.text_field :gaming_object_id , :value => gaming_object.id, class: 'hidden' %>
    <%= f.label :title , class: 'control-label' %><br>
    <%= f.text_field :title, class: 'form-control' %>
    <span class="help-block"></span>
  </div>
  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="form-group">
    <%= f.label :description, class: 'control-label' %><br>
    <%= f.text_field :description, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <%# Added Bootstrap classes %>
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>

<% end %>