<% klass ||= "" %>

<%= form_for(@tip, remote: true, html: {role: :form, 'data-model' => 'tip', id: 'form-'+category.to_s, class: "tip_form #{klass}"}) do |f| %>
  <%# Added Bootstrap classes, and help-block container for error messages %>
  <div class="panel panel-default">
  
    <%# Added Bootstrap classes, and help-block container for error messages %>
    <div class="panel-body">
      <div class="form-group">
        <%= f.text_field :category, :value => category, class: 'hidden' %>
        <%= f.text_field :gaming_object_id , :value => gaming_object.id, class: 'hidden' %>
        <%= f.text_area :description, class: 'form-control form-'+category+'-description', rows: 5, placeholder: "Got a tip for people playing #{category} #{@gaming_object.name} ?" %>
        <span class="help-block hidden"></span>
      </div>
          
      <%# Added Bootstrap classes %>
      <div class="actions" style="margin-bottom: 0px;">
        <%= f.submit 'Submit', class: 'btn btn-success pull-right' %>
      </div>
    </div>
  </div>
<% end %>