<% tip ||= Tip.new %>
<% with_gaming_object_description ||= false %>
<% klass ||= "col-md-12" %>

<div class="<%= klass %>">
    <div class="panel panel-default tip_panel <%= tip.is_voted?(@user) ? "is_voted" : "is_not_voted" %>" id="tip_<%= tip.id %>">
      
      <div class="panel-body text-justify">
        <div class="">
          <div class="pull-left tip_score_panel text-center">
            <div class="tip_score">
              <%= tip.score %>
            </div>
            
            <div class="tip_posneg_scores">
              +<span class="tip_positive_score"><%= tip.positive_score %></span>
              /
              -<span class="tip_negative_score"><%= tip.negative_score %></span>
            </div>
            
            <div class="vote_links">
              <% upvote_class = tip.is_upvoted?(@user) ? "btn-success" : "btn-default" %>
              <%= link_to upvote_tip_path(tip), remote: true, method: :post, class: "upvote_tip btn #{upvote_class} btn-sm" do %>
                <i class="fa fa-plus" aria-hidden="true"></i>
              <% end %>
              
              <% downvote_class = tip.is_downvoted?(@user) ? "btn-danger" : "btn-default" %>
              <%= link_to downvote_tip_path(tip), remote: true, method: :post, class: "downvote_tip btn #{downvote_class} btn-sm" do %>
                <i class="fa fa-minus" aria-hidden="true"></i>
              <% end %>
            </div>
          </div>
                  
          <% if with_gaming_object_description %>
            <div class="tip_gaming_object_description pull-left text-center">
              <%= render partial: "gaming_objects/icon", locals: { gaming_object: tip.gaming_object } %>
            </div>
          <% end %>
        </div>
        
        <% if with_gaming_object_description %>
          <%= link_to tip.gaming_object, class: "btn-link" do %>
            <span class="playing_sentence"><%= playing_sentence(tip.category, tip.gaming_object) %></span><br />
          <% end %>
        <% end %>
        <span class="tip_description"><%= raw description_with_links(tip.description) %></span><br />
        <span class="time_ago pull-right"><%= time_ago_in_words(tip.created_at)%> ago</span>
      </div>
    </div>
</div>