<% tip ||= Tip.new %>

<div class="col-md-12">
    <div class="panel panel-default tip_panel" id="tip_<%= tip.id %>">
      <div class="panel-body">
        <div class="pull-left tip_score_panel text-center">
          <div class="tip_score">
            <%= tip.score %>  
          </div>
          
          <div class="vote_links">
            <%= link_to upvote_tip_path(tip), remote: true, method: :post, class: "upvote_tip" do %>
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            <% end %>
            <%= link_to downvote_tip_path(tip), remote: true, method: :post, class: "downvote_tip" do %>
              <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
            <% end %>
          </div>
        </div>
        <div class="pull-left tip_description">
          <%= tip.description %>
        </div>
      </div>
    </div>
</div>