<!DOCTYPE html>
<html>
<head>
  <title>Overwatch-tips</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'Favicon.ico' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
  
  <%= render "layouts/header" %>
  
  <div" class="container">
      <%= yield %>
  </div>
  
  <%= render "layouts/footer" %>


</body>

  
</html>
